<?xml version="1.0"?>
<!--
/**
 * @author    AkStackPro
 * @copyright Copyright (c) 2026 AkStackPro (http://akstackpro.com/)
 * @package   AkStackPro_Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <akstackpro>
            <portal>
                <website_url>https://akstackpro.com/</website_url>
                <iframe_timeout>20</iframe_timeout>
            </portal>
            <general>
                <version>1.0.0</version>
            </general>
        </akstackpro>
    </default>
</config>
